@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

    <div class="timeline animated">
        <div class="timeline-row">
            <div class="timeline-time">
                <small>5月20日</small>4:53 PM
            </div>
            <div class="timeline-icon">
                <div class="bg-primary">
                    <i class="fa fa-pencil"></i>
                </div>
            </div>
            <div class="panel timeline-content">
                <div class="panel-body">
                    <h2>
                        最近更新
                    </h2>
                    <p>
                        修改管理员页面样式
                    </p>
                </div>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                <small>5月18日</small>6:14 PM
            </div>
            <div class="timeline-icon">
                <div class="bg-warning">
                    <i class="fa fa-quote-right"></i>
                </div>
            </div>
            <div class="panel timeline-content">
                <div class="panel-body">
                    <blockquote>
                        <p>
                            修改数据库模型
                        </p>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="timeline-row">
            <div class="timeline-time">
                <small>5月16日</small>1:20 PM
            </div>
            <div class="timeline-icon">
                <div class="bg-info">
                    <i class="fa fa-database"></i>
                </div>
            </div>
            <div class="panel timeline-content">
                <div class="panel-body">
                    <h2>数据库设计与实现</h2>
                    <p>根据需求分析等，设计数据库并实现连接与增、删、改、查功能</p>
                </div>
            </div>
        </div>
    </div>

 
<script src="~/Scripts/time.js"></script>