@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>立科研·勤实践·出成果！</title>
    @Scripts.Render("~/bundles/jquery")
    <link type="text/css" rel="stylesheet" href="~/Content/webCss.css" />
    <script type="text/javascript" src="~/Scripts/myjq.js"></script>
</head>
<body id="test" style="overflow:scroll;overflow-x: hidden;overflow-y: hidden;">
    <div class="div0">
        <a href="index" class="toback"></a>

        <h1>
            <!-- <a href="#">你想要的都在这</a> -->
            <a href="#">YOUR WEB</a>
        </h1>
    </div>
    <div class="dd">
        <ul>
            <li>海报设计</li>
            <li>相关工具</li>
            <li>素材网站</li>
            <li>学习方面</li>
        </ul>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">偏教程类</a>
            <a href="https://www.zcool.com.cn/" target="_blank" class="aa">站●酷●网</a>
            <a href="https://www.uisdc.com/" target="_blank" class="aa">优●设●网</a>
            <a href="http://shida66.com/" target="_blank" class="aa">视达网</a>
            <a href="http://shijue.me/" target="_blank" class="aa">视觉me设计社区</a>
            <a href="http://yang16.com/" target="_blank" class="aa">氧16网</a>

            <a href="#" id="a1">偏鉴赏类</a>
            <a href="http://huaban.com/" target="_blank" class="aa">花●瓣●网</a>
            <a href="http://www.ziticq.com/" target="_blank" class="aa">字体传奇</a>
            <a href="http://www.gtn9.com/index.aspx" target="_blank" class="aa">古田路9号</a>
            <a href="http://www.hellofont.cn/home" target="_blank" class="aa">【字由】</a>
            <a href="http://www.ad518.com/" target="_blank" class="aa">日本海报速递</a>
            <a href="https://lab-d.co/" target="_blank" class="aa">日系设计</a>
            <a href="http://www.metaobao.cn/%E5%9B%BD%E5%A4%96%E7%AE%80%E7%BA%A6%E5%95%86%E4%B8%9A%E6%B5%B7%E6%8A%A5%E6%8E%92%E7%89%88%E8%AE%BE%E8%AE%A1/" target="_blank" class="aa">国外海报排版设计</a>
            <a href="https://www.digitalartsonline.co.uk/tutorials/" target="_blank" class="aa">Tutorials</a>
            <a href="https://dribbble.com/shots" target="_blank" class="aa">Dribbble</a>
            <a href="https://www.typographicposters.com/posters" target="_blank" class="aa">GraphicPosters</a>
            <a href="https://scene360.com/" target="_blank" class="aa">Scene360</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">偏设计类</a>
            <a href="https://www.fotor.com.cn/" target="_blank" class="aa">fotor</a>
            <a href="https://dianshang.gaoding.com/home" target="_blank" class="aa">稿定设计</a>
            <a href="https://www.designevo.com/logo-maker/" target="_blank" class="aa">Logo制作</a>
            <a href="https://www.zhenhaotv.com/" target="_blank" class="aa">毛笔字在线生成</a>
            <a href="https://c.runoob.com/" target="_blank" class="aa">菜鸟工具</a>
            <a href="https://www.processon.com/diagrams" target="_blank" class="aa">在线流程图</a>
            <a href="https://bezier.method.ac/" target="_blank" class="aa">钢笔练习工具</a>
            <a href="http://www.nicetool.net/" target="_blank" class="aa">各种在线工具</a>
            <a href="https://uzer.me/z/apps" target="_blank" class="aa">云端超级应用</a>
            <a href="http://www.nicetool.net/app/scale_image.html" target="_blank" class="aa">图片智能应用</a>
            <a href="https://www.keepvid.cc/" target="_blank" class="aa">视频转换器</a>
            <a href="http://weavesilk.com/" target="_blank" class="aa">Silk</a>
            <a href="https://wangyasai.github.io/Play-a-ball/" target="_blank" class="aa">Play a ball</a>
            <a href="https://demo.marpi.pl/biomes/" target="_blank" class="aa">立体素材制作</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">海报素材</a>
            <a href="http://www.lanrentuku.com/" target="_blank" class="aa">懒人图库啥都有！</a>
            <a href="https://cn.pngtree.com/" target="_blank" class="aa">免费png</a>
            <a href="https://www.1001freedownloads.com/" target="_blank" class="aa">矢量图免费下</a>
            <a href="https://pxhere.com/" target="_blank" class="aa">免费素材图片</a>
            <a href="https://www.uisdc.com/30-illustrator-resources" target="_blank" class="aa">优设AI素材</a>
            <a href="https://www.pinclipart.com/" target="_blank" class="aa">免抠图</a>
            <a href="http://www.sucaifengbao.com/" target="_blank" class="aa">素材风暴</a>
            <a href="http://free-line-design.com/" target="_blank" class="aa">边框素材</a>
            <a href="https://isujin.com/" target="_blank" class="aa">素锦/偏壁纸</a>
            <a href="https://alpha.wallhaven.cc/toplist" target="_blank" class="aa">热门壁纸|wallhaven</a>
            <a href="https://www.fontsquirrel.com/fonts/font-awesome" target="_blank" class="aa">免费英文字体</a>
            <a href="https://pixabay.com/" target="_blank" class="aa">免费图片</a>
            <a href="http://www.sucaifengbao.com/" target="_blank" class="aa">免费png</a>
            <a href="https://pxhere.com/" target="_blank" class="aa">免费素材图片</a>
            <a href="https://visualhunt.com/" target="_blank" class="aa">配图素材</a>
            <a href="http://www.1ppt.com/" target="_blank" class="aa">ppt模板+字体</a>

            <a href="#" id="a1">高清照片</a>
            <a href="https://www.pexels.com/" target="_blank" class="aa">文艺有格调</a>
            <a href="https://500px.me/community/discover?category=11&" target="_blank" class="aa">500px摄影师社区</a>
            <a href="https://unsplash.com/" target="_blank" class="aa">有逼格|Unsplash</a>
            <a href="https://stocksnap.io/ target="_blank" class="aa">美丽的免费图片</a>
            <a href="http://streetwill.co/" target="_blank" class="aa">Streetwill免费高分辨率图</a>
            <a href="https://gratisography.com/" target="_blank" class="aa">gratisography</a>
            <a href="https://wallions.com/" target="_blank" class="aa">Wallions</a>
            <a href="http://www.iconfont.cn/" target="_blank" class="aa">阿里矢量图标库</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">网页设计</a>
            <a href="https://www.oxxostudio.tw/" target="_blank" class="aa">OXXO stydio</a>
            <a href="http://www.bootstrapmb.com/" target="_blank" class="aa">Boostrap模板</a>
            <a href="https://juejin.im/" target="_blank" class="aa">掘金</a>
            <a href="https://www.html.cn/" target="_blank" class="aa">html中文网</a>
            <a href="https://segmentfault.com/" target="_blank" class="aa">思否网</a>
            <a href="http://www.cssmoban.com/" target="_blank" class="aa">模板之家|网页模板</a>
            <a href="https://www.cnblogs.com/" target="_blank" class="aa">博客园</a>
            <a href="https://stackoverflow.com/" target="_blank" class="aa">Stackoverflow</a>
            <a href="https://www.jianshu.com/p/959828907dff" target="_blank" class="aa">提高知名度SEO优化</a>
            <a href="https://developer.mozilla.org/zh-CN/docs/Web" target="_blank" class="aa">web开发技术</a>
            <a href="http://www.shejidaren.com/top-pen-of-2016.html" target="_blank" class="aa">CodePen热门前端代码Top100</a>
            <a href="https://codepen.io/zachernuk/pen/wZMXQB" target="_blank" class="aa">提高知名度SEO优化</a>

            <a href="#" id="a1">个人网站</a>
            <a href="https://mrxf.github.io/" target="_blank" class="aa">张树源</a>
            <a href="https://www.laomoit.com/" target="_blank" class="aa">老殁科技</a>
            <a href="http://xiaowiba.com/archives/1/" target="_blank" class="aa">小尾巴</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">其他相关链接</a>
            <a href="http://www.16xx8.com/photoshop/xinshoujiaocheng/" target="_blank" class="aa">PS入门教程</a>
            <a href="http://www.sj33.cn/article/bzsj/201506/44273.html" target="_blank" class="aa">22款logo设计</a>
            <a href="https://www.zhihu.com/question/21430735" target="_blank" class="aa">好玩的AE教程</a>
            <a href="https://www.bilibili.com/video/av7610585/" target="_blank" class="aa">AE创意动画教程</a>
            <a href="https://uiiiuiii.com/aftereffects" target="_blank" class="aa">优设网AE教程</a>
            <a href="https://www.bilibili.com/video/av4089461/?p=2" target="_blank" class="aa">MG动画小短片欣赏</a>
            <a href="https://t.cj.sina.com.cn/articles/view/6534360246/1857a6cb6001008acj" target="_blank" class="aa">ps调色教程</a>
            <a href="https://www.uisdc.com/do-color-balance-method" target="_blank" class="aa">如何做到色彩平衡</a>
            <a href="https://www.uisdc.com/9-cutout-skills" target="_blank" class="aa">100%的抠图技巧</a>
            <a href="https://www.uisdc.com/design-high-end-poster" target="_blank" class="aa">如何设计高水准海报</a>
            <a href="http://yang16.com/542.html" target="_blank" class="aa">PS缤纷彩色格子设计</a>
            <a href="https://zhuanlan.zhihu.com/p/22246188" target="_blank" class="aa">人像后期磨皮</a>
            <a href="https://uiiiuiii.com/illustrator" target="_blank" class="aa">AI教程</a>
            <a href="http://www.sj33.cn/jc/pmjc/ai/" target="_blank" class="aa">illustrator设计之家</a>
            <a href="https://www.bilibili.com/video/av11018480/" target="_blank" class="aa">零基础学AI哔哩哔哩</a>
            <a href="http://www.coreldrawchina.com/xinshourumen/" target="_blank" class="aa">CDR新手入门</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">一些资源</a>
            <a href="http://www.carrotchou.blog/" target="_blank" class="aa">胡萝卜周的博客</a>
            <a href="http://www.carrotchou.blog/19303.html" target="_blank" class="aa">Adobe CC</a>
            <a href="http://ghmagical.com/search/navigation" target="_blank" class="aa">TG网址导航</a>
            <a href="http://hao.shejidaren.com/" target="_blank" class="aa">设计导航</a>
            <a href="https://hao.uisdc.com/" target="_blank" class="aa">优设导航</a>

            <a href="#" id="a1">国外电台</a>
            <a href="https://one.npr.org/?sharedMediaId=646748051:646750956" target="_blank" class="aa">NPR搞笑电台</a>
            <a href="https://www.c-span.org/networks/standalone/?autoplay" target="_blank" class="aa">C-SPAN直播</a>
            <a href="https://99percentinvisible.org/episode/the-house-that-came-in-the-mail/" target="_blank" class="aa">99%Invisible</a>
            <a href="https://www.stuffyoushouldknow.com/" target="_blank" class="aa">stuffyoushouldknow</a>
            <a href="https://www.cbsnews.com/60-minutes/" target="_blank" class="aa">60Minutes</a>
            <a href="https://www.wnycstudios.org/shows/radiolab" target="_blank" class="aa">Radiolab</a>
            <a href="https://www.newsounds.org/?utm_medium=partnersite&utm_campaign=brandheader&utm_source=wnycstudios" target="_blank" class="aa">NewSOUNDS</a>
            <a href="https://www.wnyc.org/?utm_medium=partnersite&utm_campaign=brandheader&utm_source=wnycstudios" target="_blank" class="aa">NewYorkPublicRadio</a>

            <a href="#" id="a1">看剧</a>
            <a href="http://aaqqc.com/" target="_blank" class="aa">万达影院</a>
            <a href="http://www.raodo.cn/" target="_blank" class="aa">农民影院</a>
            <a href="http://www.yyzone.net/" target="_blank" class="aa">YY影院</a>
            <a href="https://www.yunbtv.com/" target="_blank" class="aa">云播TV</a>
            <a href="http://www.wuqimh.com/" target="_blank" class="aa">漫画网</a>
            <a href="http://www.meijuniao.com/" target="_blank" class="aa">美剧网</a>
            <a href="https://www.rijutv.com/" target="_blank" class="aa">日剧网</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">配色网站</a>
            <a href="http://nipponcolors.com/#araisyu" target="_blank" class="aa">日本传统色系</a>
            <a href="https://colorhunt.co/palette/124494" target="_blank" class="aa">颜色狩猎</a>
            <a href="https://coolors.co/" target="_blank" class="aa">配色方案生成</a>
            <a href="http://www.flatuicolorpicker.com/category/blue" target="_blank" class="aa">FOR UI Design</a>
            <a href="https://colordrop.io/" target="_blank" class="aa">colordrop|新颜色</a>
            <a href="http://findguidelin.es/" target="_blank" class="aa">Findguidenlin</a>
            <a href="https://webgradients.com/" target="_blank" class="aa">时尚渐变</a>
            <a href="https://brandcolors.net/" target="_blank" class="aa">BranCOlor</a>
        </div>
    </div>
    <div class="div1">
        <div class="scroll">
            <a href="#" id="a1">优秀网页</a>
            <a href="https://isujin.com/" target="_blank" class="aa">素锦</a>
            <a href="https://webflow.com/#master" target="_blank" class="aa">webflow</a>
            <a href="https://www.grow.paris/" target="_blank" class="aa">GROW</a>
            <a href="https://thecoolclub.co/" target="_blank" class="aa">鼠标悬停</a>
            <a href="https://draft.co.jp/en" target="_blank" class="aa">悬停</a>
            <a href="https://www.papazian.gr/" target="_blank" class="aa">渐显</a>
            <a href="https://waaark.com/" target="_blank" class="aa">可爱动画风</a>
            <a href="https://www.jianshu.com/p/2f10c4ba6066" target="_blank" class="aa">几个网页设计</a>
            <a href="http://www.michaelvillar.com/" target="_blank" class="aa">酷炫特效</a>
            <a href="https://black1ce.com/software/puffin.html" target="_blank" class="aa">鼠标点击特效</a>
            <a href="https://codepen.io/zachernuk/pen/wZMXQB" target="_blank" class="aa">动态网格视图</a>
            <a href="https://wearetopsecret.com/work/" target="_blank" class="aa">工作//超级秘密</a>
            <a href="https://pro.weltrade.com/en/" target="_blank" class="aa">tradeCulture</a>
            <a href="http://blog.jobbole.com/93396/" target="_blank" class="aa">单页滚动网页</a>
        </div>
    </div>
</body>
</html>
