.div0 {
    margin: 40px auto;
    position: relative;
    text-align: center;
    -webkit-transition: 1s;
    text-shadow: 5px 6px 1px gray;
}

    .div0 a {
        text-decoration: none;
        color: #000000;
        animation: mycolor 3s infinite;
    }

@keyframes mycolor {
    0% {
        color: lightyellow;
    }

    25% {
        color: lightpink;
    }

    50% {
        color: lightblue;
    }

    75% {
        color: lightgreen;
    }

    100% {
        color: lightyellow;
    }
}

@keyframes myactivation {
    0% {
        background: lightyellow;
    }

    25% {
        background: lightpink;
    }

    50% {
        background: lightblue;
    }

    75% {
        background: lightgreen;
    }

    100% {
        background: lightyellow;
    }
}

.div1 {
    width: 24%;
    height: 200px;
    border: #000000 dashed 2px;
    /* background: white; */
    z-index: 1;
    margin: 10px 4px;
    text-shadow: 1px 4px 2px #0e0e0e8c;
    letter-spacing: 4px;
    float: left;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}

.scroll {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
}

    .scroll:hover {
        overflow: auto;
    }

    .scroll::-webkit-scrollbar {
        width: 12px;
    }

    .scroll::-webkit-scrollbar-thumb {
        border-radius: 70px;
        background: white;
    }

.div1:hover {
    background: black;
}

.aa {
    margin-top: 4px;
    width: 100%;
    height: 25%;
    color: whitesmoke;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    display: block;
    transition: 0.5s;
    z-index: 10;
}

    .aa:hover {
        letter-spacing: 0px;
        color: black;
        font-size: 30px;
        animation: myactivation 2s infinite;
        cursor:pointer;
    }

.dd {
    width: 100%;
    height: 40px;
    color: black;
    font-size: 30px;
    position: sticky;
    z-index: 5;
    
}

ul {
    list-style-type: none;
    padding: 0px;
    text-align: center;
    display: inline;
}

li {
    width: 24%;
    display: inline-block;
    font-weight: bold;
    color: white;
    margin: 0px auto;
    border: #000000 dashed 2px;
}



body {
    background-color: #1A1A1A;
    background-image: url('../../Content/pictures/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    user-select: none; /* 取消双击选中文字 */
}

#a1 {
    text-decoration: none;
    animation: mycolor 3s infinite;
    font-weight: bold;
    text-align: center;
    display: block;
}

.toback { /* 返回上一页 */
    width: 0px;
    height: 0px;
    border-bottom: transparent solid 20px;
    border-top: transparent solid 20px;
    border-right: white solid 30px;
    opacity: 0.5;
    position: fixed; /*固定位置*/
    z-index: 99; /*设置优先级显示，保证不会被覆盖*/
    left: 40px;
    top: 40px;
}

    .toback:hover {
        opacity: 1;
        cursor: pointer;
    }

    .toback::before {
        content: 'BACK';
        font-size: 15px;
        font-weight: bold;
        top: -10px;
        left: 40px;
        position: absolute;
    }
